.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 2em;
  text-align: center;
  font-size: 1.8rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  //   width: 100%;
  //   height: 100%;
  object-fit: cover;
}
